<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="23.5.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Documents.Core.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Editors.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Excel.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Menus.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Trial" version="22.2.19" targetFramework="net472" />
  <package id="Infragistics.WPF.Undo.Trial" version="22.2.19" targetFramework="net472" />
</packages>